## **TUGAS PRATIKUM**
*Nama  :* Reynaldi Fakrhi Pratama<br>
*Kelas :* TI-3A/27<br>
*NIM   :* 2041720209<br>

In [27]:

import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler, MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor

In [28]:
# load dataset tugas 3
df = pd.read_csv('50_Startups.csv')
#lihat 5 data teratas
df.head()
#lihat info dataset
# df.info()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [29]:
#split dataset menjadi data pelatihan dan data uji
x_train, x_test, y_train, y_test = train_test_split(
    df.drop('Profit', axis=1), df['Profit'], test_size=0.2, random_state=0)

In [30]:
# one hot encoding untuk data kategorikal
# merubah kolom State menjadi kategori
transform = ColumnTransformer(transformers=[
    ('cat',SimpleImputer(strategy='most_frequent'),['State']),
    ('num',SimpleImputer(strategy='median'),['R&D Spend','Administration','Marketing Spend']),
], remainder='passthrough')

In [31]:
# transformasi data
data = transform.fit_transform(x_train)
data

array([['Florida', 55493.95, 103057.49, 214634.81],
       ['New York', 46014.02, 85047.44, 205517.64],
       ['Florida', 75328.87, 144135.98, 134050.07],
       ['California', 46426.07, 157693.92, 210797.67],
       ['Florida', 91749.16, 114175.79, 294919.57],
       ['Florida', 130298.13, 145530.06, 323876.68],
       ['Florida', 119943.24, 156547.42, 256512.92],
       ['New York', 1000.23, 124153.04, 1903.93],
       ['New York', 542.05, 51743.15, 0.0],
       ['New York', 65605.48, 153032.06, 107138.38],
       ['New York', 114523.61, 122616.84, 261776.23],
       ['Florida', 61994.48, 115641.28, 91131.24],
       ['California', 63408.86, 129219.61, 46085.25],
       ['California', 78013.11, 121597.55, 264346.06],
       ['California', 23640.93, 96189.63, 148001.11],
       ['California', 76253.86, 113867.3, 298664.47],
       ['New York', 15505.73, 127382.3, 35534.17],
       ['New York', 120542.52, 148718.95, 311613.29],
       ['California', 91992.39, 135495.07, 252664.93],
       ['California', 64664.71, 139553.16, 137962.62],
       ['New York', 131876.9, 99814.71, 362861.36],
       ['New York', 94657.16, 145077.58, 282574.31],
       ['California', 28754.33, 118546.05, 172795.67],
       ['California', 0.0, 116983.8, 45173.06],
       ['California', 162597.7, 151377.59, 443898.53],
       ['Florida', 93863.75, 127320.38, 249839.44],
       ['California', 44069.95, 51283.14, 197029.42],
       ['New York', 77044.01, 99281.34, 140574.81],
       ['California', 134615.46, 147198.87, 127716.82],
       ['Florida', 67532.53, 105751.03, 304768.73],
       ['Florida', 28663.76, 127056.21, 201126.82],
       ['New York', 78389.47, 153773.43, 299737.29],
       ['New York', 86419.7, 153514.11, 0.0],
       ['California', 123334.88, 108679.17, 304981.62],
       ['California', 38558.51, 82982.09, 174999.3],
       ['Florida', 1315.46, 115816.21, 297114.46],
       ['New York', 144372.41, 118671.85, 383199.62],
       ['New York', 165349.2, 136897.8, 471784.1],
       ['California', 0.0, 135426.92, 0.0],
       ['California', 22177.74, 154806.14, 28334.72]], dtype=object)

In [32]:
pd.DataFrame(data).head()

            0         1          2          3
0     Florida  55493.95  103057.49  214634.81
1    New York  46014.02   85047.44  205517.64
2     Florida  75328.87  144135.98  134050.07
3  California  46426.07  157693.92  210797.67
4     Florida  91749.16  114175.79  294919.57

In [33]:
# 
transform2 = ColumnTransformer(transformers =[
	('enc', OneHotEncoder(sparse = False, drop ='first'), list(range(1))),
], remainder ='passthrough')

In [37]:
# liat hasil transformasi
data2 = transform2.fit_transform(data)
pd.DataFrame(transform2.fit_transform(data)).head()

     0    1         2          3          4
0  1.0  0.0  55493.95  103057.49  214634.81
1  0.0  1.0  46014.02   85047.44  205517.64
2  1.0  0.0  75328.87  144135.98  134050.07
3  0.0  0.0  46426.07  157693.92  210797.67
4  1.0  0.0  91749.16  114175.79  294919.57

In [44]:
# pipeline untuk data numerik
pipe = Pipeline(steps=[
    ('transform 1', transform),
    ('transform 2', transform2),
    ('transform 3', StandardScaler()),
    ('model', RandomForestRegressor(n_estimators=100, random_state=0))
])

In [46]:
# print semua hasil cross validation
value = cross_val_score(pipe, x_train, y_train, cv=5)
print("Hasil cross validation: ", value)
print ("Rata-rata cross validation: ", value.mean())

Hasil cross validation:  [0.78971533 0.89171944 0.89209495 0.88471696 0.93789672]
Rata-rata cross validation:  0.8792286798642385

In [47]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('transform 1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('cat',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  ['State']),
                                                 ('num',
                                                  SimpleImputer(strategy='median'),
                                                  ['R&D Spend',
                                                   'Administration',
                                                   'Marketing Spend'])])),
                ('transform 2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('enc',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  [0])])),
                ('transform 3', StandardScaler()),
                ('model', RandomForestRegressor(random_state=0))])

In [48]:
# prediksi data uji
pre = pipe.predict(x_test)
pd.DataFrame({'Data asli test': y_test, 'Prediksi': pre})

    Data asli test     Prediksi
28       103282.38  103441.7870
11       144259.40  136213.9617
10       146121.95  137465.4949
41        77798.83   80010.5558
2        191050.39  183528.4527
27       105008.31  112603.1581
38        81229.06   69676.5968
31        97483.56   99415.0949
22       110352.25  111250.9978
4        166187.94  167964.9761